body {
	font-family: Montserrat,Arial,"微軟正黑體","Microsoft JhengHei";
	
}

h1,h2,h3,h4,h5,h6 {
	font-family: Montserrat,Arial,"微軟正黑體","Microsoft JhengHei";
	color: #efefef;
}


/*navbar dropdown setting*/
li.dropdown {
    display: inline-block;

}
.dropdown-content {
    display: none;
    position: absolute;
    background-color:#1f1f1f;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius:10px;
}

.dropdown-content a {
    color: #f1f1f1;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    overflow: hidden ;
    border-radius:10px;
    background-color:#1f1f1f;
}

.dropdown-content a:hover {background-color: #303030 !important;}

.show-dropdown-content {display: block;}

/*navbar user buotton hide before login*/
#navUserBtn{
  display:none;
}



/*bg-dark equals whole page background color*/
.bg-dark-cutom{
    background-color:#1f1f1f;
}

.blogDate{
    opacity:0.8;
}
/*profile nav hr */
.containerHrT hr{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.containerHrB hr{
    margin-top: 0.5rem;
}

/*profile Navbar Hover*/
#profile-navbar li>a {

      font-size: 20px;
    }

#profile-navbar li>a:hover {
      color: #12bbad;
      border-bottom: 1px solid #12bbad;
    }
#profile-navbar li>a:focus {
      color: #12bbad;
      border-bottom: 1px solid #12bbad;
    }


/*cover設定*/
#coverfirstImg{
  height: 180px;
  background-repeat: no-repeat!important;
  background-size: cover!important;
}

/*banner設定*/
.banner-div{
  padding-top: 1rem !important;
  padding-bottom: 0rem !important;

}

.banner-div img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding-top: 0px;
}

/*活動瀏覽數*/
.eveview{
  font-size: 18px;
}


/*popular new friend 的圖片樣式 */
.img-group {
  position: relative;
  display: inline-block;
}
.img-tip {
  position: absolute;
  bottom: 0;
    width: 100%;
  text-align: center;
    background: #000;
  color: #fff;
  opacity: 0.9;
   display: none;
}

.img-group:hover .img-tip {
  display: block;
}

/*sponsor設定 */
.sponsor-div{
  padding-top: 0rem!important;
}
