@charset "BIG5";

 .logoutbtn {
      width: 100px
    }

    .mgrlistbar {
      font-size: 28px
    }

    .imglist {
      height: 200px;
      width: 270px
    }
    
    .mgrwork {
      font-size:23px; 
      color:#0eea37
    
    }