body {
      overflow-x: hidden;
    }

    .badge-courpaycata {
      border-radius: 2px!important;
    }

    .btnpurchas {
      border-radius: 8px!important;
    }

    #wrapper {
      margin: 100px auto;
      width: 405px;
    }

    .progress {
      width: 200px;
      height: 200px;
      background: none;
    }

    .track,
    .fill {
      fill: rgba(0, 0, 0, 0);
      fill: none;
      stroke-width: 3;
    }

    .track {
      stroke: rgba(0, 0, 0, 0.5);
      stroke: rgba(48, 48, 48, 0.3)!important;
    }

    .fill {
      stroke: rgb(255, 255, 255);
      stroke-dasharray: 150.72259521484375;
      stroke-dashoffset: 150.72259521484375;
      transition: stroke-dashoffset 1s;
    }

    .progress.blue>.fill {
      stroke: rgba(0, 154, 192, 0.2);
    }

    .progress.pink>.fill {
      stroke: rgb(157, 51, 143);
    }

    .display {
      fill: rgb(255, 255, 255);
      text-anchor: middle;
    }

    .percenatext {
      color: rgba(243, 243, 243, 0.8);
      fill: rgba(243, 243, 243, 0.5);
    }

    .purlistrow {
      box-shadow: 0.5px 0.5px 1px rgba(95.3%, 95.3%, 95.3%, 0.1);
    }

    .purchasbg {
      background: rgba(48, 48, 48, 0.3)!important;
    }

    .purchastitle {
      border-bottom: 0.6px solid rgba(243, 243, 243, 0.6);
    }
 
    .h5 {
      font-family: Montserrat, Arial, "·L³n¥¿¶ÂÅé", "Microsoft JhengHei" !important;
    }
    
    body {
      font-family: Montserrat, Arial, "·L³n¥¿¶ÂÅé", "Microsoft JhengHei" !important;
    }
    
    p{
      font-family: Montserrat, Arial, "·L³n¥¿¶ÂÅé", "Microsoft JhengHei" !important;
    }
    
    h3 {
      font-family: Montserrat, Arial, "·L³n¥¿¶ÂÅé", "Microsoft JhengHei" !important;
    }
    
    #coursenamerate{
      font-family: Montserrat, Arial, "·L³n¥¿¶ÂÅé", "Microsoft JhengHei" !important;
    }
    

    .replyinreplynametext {
      border-bottom: 0.5px solid rgba(239, 239, 239, 0.4);
    }

    .commenttextarea {
      height: 120px;
    }

    .courboarsearchbar {
      background: none;
      border: 0.7px solid #303030;
    }

    .courboarsearchbar:focus {
      background: none;
    }

    .courboarformtitle {
      border-radius: 2px;
      background: none;
      border: 0.5px solid rgba(204, 204, 204, 0.5);
    }

    .courboarformtitle:focus {
      background: none;
    }

    .courboarqform {
      background: rgba(48, 48, 48, 0.8);
      /*width: 700px;*/
    }

    .courboardqtext {
      border-radius: 2px;
      background: none;
      border: 0.5px solid rgba(204, 204, 204, 0.5);
    }

    .courboardqtext:focus {
      background: none;
    }

    .courboarmodalheader {
      border-bottom: none;
    }

    .courboarmodal {
      border-top: 0.5px solid rgba(204, 204, 204, 0.5);
    }

    .courboarlistinnerline {
      border-bottom: 0.5px solid rgba(239, 239, 239, 0.4);
    }
    /*20180915  courboarform  å½ˆå‡ºè¡¨å–®ä¿®æ”¹å°ºå¯¸*/

    .form-group-100 {
      width: 100%;
    }

    .modal-dialog.modal-dialog-700 {
      max-width: 500px;
    }

    .popModel-close-bt {
      position: absolute;
      right: 0;
      height: 50px;
      width: 50px;
    }
    /*//20180915  courboarform  å½ˆå‡ºè¡¨å–®ä¿®æ”¹å°ºå¯¸*/
 
    fieldset,
    label {
      margin: 0;
      padding: 0;
    }
    
    .purlistimg{
    width:274.5px;
    height:286.14px;
    
    }

/*     body { */
/*       margin: 20px; */
/*     } */

/*     h1 { */
/*       font-size: 1.5em; */
/*       margin: 10px; */
/*     } */
    /****** Style Star Rating Widget *****/

    .rating {
      border: none;
      float: left;
    }

    .rating>input {
      display: none;
    }

    .rating>label:before {
      margin: 5px;
      font-size: 1.25em;
      font-family: FontAwesome;
      display: inline-block;
      content: "\f005";
    }

    .rating>.half:before {
      content: "\f089";
      position: absolute;
    }

    .rating>label {
      color: #ddd;
      float: right;
    }
    /***** CSS Magic to Highlight Stars on Hover *****/

    .rating>input:checked~label,
    /* show gold star when clicked */

    .rating:not(:checked)>label:hover,
    /* hover current star */

    .rating:not(:checked)>label:hover~label {
      color: #FFD700;
    }
    /* hover previous stars in list */

    .rating>input:checked+label:hover,
    /* hover current star when changing rating */

    .rating>input:checked~label:hover,
    .rating>label:hover~input:checked~label,
    /* lighten current selection */

    .rating>input:checked~label:hover~label {
      color: #FFED85;
    }