<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>CA103G1</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<resource-ref>
		<description>DB Connection</description>
		<res-ref-name>jdbc/CA103G1</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
	<filter>
		<filter-name>MgrLoginFilter</filter-name>
		<filter-class>com.Mgr.controller.MgrLoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>MgrLoginFilter</filter-name>
		<url-pattern>/back_end/mgrview.jsp</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
		<dispatcher>ASYNC</dispatcher>
	</filter-mapping>

	<filter>
		<filter-name>Filter1</filter-name>
		<filter-class>com.mem.filter.LoginFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>Filter1</filter-name>
		<url-pattern>/front_end/course/purchcour/page/purchcourform.jsp</url-pattern>
		<url-pattern>/front_end/event/eve/addEve.jsp</url-pattern>
		<url-pattern>/front_end/mem/*</url-pattern>
		<url-pattern>/front_end/plan/Create_Plan.jsp</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
		<dispatcher>ASYNC</dispatcher>
	</filter-mapping>

	<servlet>
		<servlet-name>MemSpLikeServlet</servlet-name>
		<servlet-class>com.memsplike.controller.MemSpLikeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MemSpLikeServlet</servlet-name>
		<url-pattern>/memsplike/memsplike.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PlanServlet</servlet-name>
		<servlet-class>com.plan.controller.PlanServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PlanServlet</servlet-name>
		<url-pattern>/plan/plan.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>MemServlet</servlet-name>
		<servlet-class>com.mem.controller.MemServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MemServlet</servlet-name>
		<url-pattern>/mem/mem.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>MemberDBPicReader</servlet-name>
		<servlet-class>com.mem.model.MemberDBPicReader</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MemberDBPicReader</servlet-name>
		<url-pattern>/mem/MemberDBPicReader</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>MemAndroidServlet</servlet-name>
		<servlet-class>com.mem.controller.MemAndroidServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MemAndroidServlet</servlet-name>
		<url-pattern>/mem/memAndroid.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EveListServlet</servlet-name>
		<servlet-class>com.eventlist.controller.EveListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EveListServlet</servlet-name>
		<url-pattern>/eventlist/eventlist.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EveServlet</servlet-name>
		<servlet-class>com.eve.controller.EveServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EveServlet</servlet-name>
		<url-pattern>/eve/event.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>EveAndroidServlet</servlet-name>
		<servlet-class>com.eve.controller.EveAndroidServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EveAndroidServlet</servlet-name>
		<url-pattern>/eve/EveAndroid.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>EventSaveServlet</servlet-name>
		<servlet-class>com.eventsave.controller.EventSaveServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EventSaveServlet</servlet-name>
		<url-pattern>/eventsave/eventsave.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FriendListServlet</servlet-name>
		<servlet-class>com.friendlist.controller.FriendListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FriendListServlet</servlet-name>
		<url-pattern>/friendlist/friendlist.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DBGifReader4</servlet-name>
		<servlet-class>com.plan.model.DBGifReader4</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DBGifReader4</servlet-name>
		<url-pattern>/plan/DBGifReader4</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DBPicReader</servlet-name>
		<servlet-class>com.eve.model.DBPicReader</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DBPicReader</servlet-name>
		<url-pattern>/eve/DBPicReader</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>BoardresServlet</servlet-name>
		<servlet-class>com.boardres.controller.BoardresServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BoardresServlet</servlet-name>
		<url-pattern>/boardres/boardres.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CourBoarServlet</servlet-name>
		<servlet-class>com.courboar.controller.CourBoarServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CourBoarServlet</servlet-name>
		<url-pattern>/courboar/courboar.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CourBoar_DBGifReader4</servlet-name>
		<servlet-class>com.courboar.controller.CourBoar_DBGifReader4</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CourBoar_DBGifReader4</servlet-name>
		<url-pattern>/courboar/CourBoar_DBGifReader4.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MgrLoginServlet</servlet-name>
		<servlet-class>com.Mgr.controller.MgrLoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MgrLoginServlet</servlet-name>
		<url-pattern>/mgr/MgrLg.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MgrRegistServlet</servlet-name>
		<servlet-class>com.Mgr.controller.MgrRegistServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MgrRegistServlet</servlet-name>
		<url-pattern>/mgr/MgrRg.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MgrPhototest</servlet-name>
		<servlet-class>com.Mgr.controller.MgrPhototest</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MgrPhototest</servlet-name>
		<url-pattern>/MgrPhototest</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MgrLostPSServlet</servlet-name>
		<servlet-class>com.Mgr.controller.MgrLostPSServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MgrLostPSServlet</servlet-name>
		<url-pattern>/mgr/MgrLoPS.do</url-pattern>
	</servlet-mapping>
	<context-param>
		<param-name>org.apache.tomcat.websocket.textBufferSize</param-name>
		<param-value>307200</param-value>
	</context-param>
	<listener>
		<listener-class>listener.Initialize_Listener</listener-class>
	</listener>

	<servlet>
		<servlet-name>PostAndroidServlet</servlet-name>
		<servlet-class>com.Post.controller.PostAndroidServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PostAndroidServlet</servlet-name>
		<url-pattern>/post/PostAndroid.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PostServlet</servlet-name>
		<servlet-class>com.Post.controller.PostServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PostServlet</servlet-name>
		<url-pattern>/post/post.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CourlistServlet</servlet-name>
		<servlet-class>com.courlist.controller.CourlistServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CourlistServlet</servlet-name>
		<url-pattern>/courlist/courlist.do</url-pattern>
	</servlet-mapping>
	
  
  <servlet>
    <servlet-name>CoachServlet</servlet-name>
    <servlet-class>com.coach.controller.CoachServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CoachServlet</servlet-name>
    <url-pattern>/coach/coach.do</url-pattern>
  </servlet-mapping>

	<servlet>
		<servlet-name>Courlist_DBGifReader</servlet-name>
		<servlet-class>com.courlist.controller.Courlist_DBGifReader</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Courlist_DBGifReader</servlet-name>
		<url-pattern>/courlist/Courlist_DBGifReader.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Coach_DBGifReader</servlet-name>
		<servlet-class>com.coach.controller.Coach_DBGifReader</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Coach_DBGifReader</servlet-name>
		<url-pattern>/coach/Coach_DBGifReader.do</url-pattern>
	</servlet-mapping>
	
	 <servlet>
    <servlet-name>CoachReviewServlet</servlet-name>
    <servlet-class>com.coachReview.controller.CoachReviewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CoachReviewServlet</servlet-name>
    <url-pattern>/coaRv/coaRv.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Mem_DBGifReader4</servlet-name>
    <servlet-class>com.courboar.controller.Mem_DBGifReader4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mem_DBGifReader4</servlet-name>
    <url-pattern>/courboar/Mem_DBGifReader4.do</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>PurchcourServlet</servlet-name>
    <servlet-class>com.purchcour.controller.PurchcourServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PurchcourServlet</servlet-name>
    <url-pattern>/purchcour/purchcour.do</url-pattern>
  </servlet-mapping>
 
 <servlet>
    <servlet-name>CourPho_DBGifReader4</servlet-name>
    <servlet-class>com.purchcour.controller.CourPho_DBGifReader4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourPho_DBGifReader4</servlet-name>
    <url-pattern>/purchcour/CourPho_DBGifReader4.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>CourunitServlet</servlet-name>
    <servlet-class>com.courunit.controller.CourunitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourunitServlet</servlet-name>
    <url-pattern>/courunit/courunit.do</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>Cour_filmReader4</servlet-name>
    <servlet-class>com.courunit.controller.Cour_filmReader4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cour_filmReader4</servlet-name>
    <url-pattern>/courunit/Cour_filmReader4.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>GiveMeRecord</servlet-name>
    <servlet-class>com.courunit.controller.GiveMeRecord</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GiveMeRecord</servlet-name>
    <url-pattern>/courunit/GiveMeRecord.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>DiscountSave</servlet-name>
    <servlet-class>com.coach.controller.DiscountSave</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DiscountSave</servlet-name>
    <url-pattern>/coach/DiscountSave.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>CalendarServlet</servlet-name>
  	<servlet-class>com.calendar.controller.CalendarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>CalendarServlet</servlet-name>
  <url-pattern>/calendar/calendar.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>memHomepageServlet</servlet-name>
  	<servlet-class>com.Post.controller.memHomepageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>memHomepageServlet</servlet-name>
  <url-pattern>/post/Homepage.do</url-pattern>
  </servlet-mapping>

</web-app>